@inherits LayoutComponentBase

<div class="page">
    <Layout Sider Style="min-height: 420px;">
        <LayoutSider>
            <LayoutSiderContent>
                <NavMenu />
            </LayoutSiderContent>
        </LayoutSider>
        <Layout>
            <LayoutHeader Fixed>
                <Div Padding="Padding.Is3" Background="Background.Light" Border="Border.Is1.OnBottom">
                    <Heading Size="HeadingSize.Is5" Margin="Margin.Is0">Workspace overview</Heading>
                </Div>
            </LayoutHeader>
            <LayoutContent Padding="Padding.Is3">
                @Body
            </LayoutContent>
        </Layout>
    </Layout>
    <div id="blazor-error-ui" data-nosnippet>
        An unhandled error has occurred.
        <a href="." class="reload">Reload</a>
        <span class="dismiss">🗙</span>
    </div>
</div>